<!DOCTYPE html>

<html lang="fa"
      class="light-style layout-menu-fixed"
      dir="rtl"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>پنل مدیریت - @ViewData["Title"]</title>
    <meta name="description" content="" />

    <partial name="_HeadLinks"/>

</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">

            <partial name="_SideBar"/>

            <!-- Layout container -->
            <div class="layout-page">
                
                <partial name="_TopNavbar" />

                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        @RenderBody()
                    </div>
                    <!-- / Content -->
                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    

    @await RenderSectionAsync("Modal" , required: false)

    <partial name="_Scripts" />

    @await RenderSectionAsync("Scripts" , required: false)

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
