<footer id="site-footer" class="mt-3 py-4">
    <div class="container">
        <div class="col-12">
            <div class="shopping-features">
                <div class="row">
                    <div class="col-3 col-lg-6 col-md-12 shopping-features-item">
                        <span class="item-icon">
                            <img src="/Images/Footer/Icons/24-hours-support.svg" alt="icon">
                        </span>
                        <span class="item-title color-text font-size-md">
                            پشتیبانی 24 ساعته
                        </span>
                        <span class="item-desc color-text font-size-sm">
                            پشتیبانی هفت روز هفته
                        </span>
                    </div>
                    <div class="col-3 col-lg-6 col-md-12 shopping-features-item">
                        <span class="item-icon">
                            <img src="/Images/Footer/Icons/income.svg" alt="icon">
                        </span>
                        <span class="item-title color-text font-size-md">
                            پرداخت در محل
                        </span>
                        <span class="item-desc color-text font-size-sm">
                            هنگام دریافت پرداخت کنید
                        </span>
                    </div>
                    <div class="col-3 col-lg-6 col-md-12 shopping-features-item">
                        <span class="item-icon">
                            <img src="/Images/Footer/Icons/easy-return.svg" alt="icon">
                        </span>
                        <span class="item-title color-text font-size-md">
                            ۷ روز ضمانت بازگشت
                        </span>
                        <span class="item-desc color-text font-size-sm">
                            در کمترین زمان دریافت کنید
                        </span>
                    </div>
                    <div class="col-3 col-lg-6 col-md-12 shopping-features-item">
                        <span class="item-icon">
                            <img src="/Images/Footer/Icons/easy-return.svg" alt="icon">
                        </span>
                        <span class="item-title color-text font-size-md">
                            ضمانت اصل‌بودن کالا
                        </span>
                        <span class="item-desc color-text font-size-sm">
                            تایید اصالت کالا
                        </span>
                    </div>
                </div>
            </div>
            <div class="footer-middle py-8">
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-4">
                                <h4 class="pb-2 font-weight-700 color-dark-gray">لینک های سایت</h4>
                                <ul>
                                    <li><a href="" class="color-text">لینک 1</a></li>
                                    <li><a href="" class="color-text">لینک 2</a></li>
                                    <li><a href="" class="color-text">لینک 3</a></li>
                                    <li><a href="" class="color-text">لینک 4</a></li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <h4 class="pb-2 font-weight-700 color-dark-gray">لینک های سایت</h4>
                                <ul>
                                    <li><a href="" class="color-text">لینک 1</a></li>
                                    <li><a href="" class="color-text">لینک 2</a></li>
                                    <li><a href="" class="color-text">لینک 3</a></li>
                                    <li><a href="" class="color-text">لینک 4</a></li>
                                </ul>
                            </div>
                            <div class="col-4 pb-2">
                                <h4 class="pb-2 font-weight-700 color-dark-gray">لینک های سایت</h4>
                                <ul>
                                    <li><a href="" class="color-text">لینک 1</a></li>
                                    <li><a href="" class="color-text">لینک 2</a></li>
                                    <li><a href="" class="color-text">لینک 3</a></li>
                                    <li><a href="" class="color-text">لینک 4</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-lg-12">
                        <div class="newsletter-submit">
                            <span class="color-text">
                                با عضویت در خبرنامه از آخرین اخبار و محصولات سایت مطلع
                                شوید...
                            </span>
                            <form method="post" class="newsletter-submit-form">
                                <input type="email" name="email" placeholder="آدرس ایمیل خود را وارد نمایید">
                                <input type="submit" value="ارسال" class="btn bg-color-primary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-12">
                        <h4 class="color-dark-gray">فروشگاه اینترنتی کالامارکت</h4>
                        <p class="text-right color-text">
                            کالامارکت به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی
                            با بیش از یک دهه تجربه، با
                            پایبندی به سه اصل کلیدی، پرداخت در محل، 7 روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا،
                            موفق شده تا همگام با فروشگاه‌های معتبر جهان، به بزرگ‌ترین فروشگاه اینترنتی ایران تبدیل
                            شود. به محض ورود به دیجی اسمارت با یک سایت پر از کالا رو به رو می‌شوید! هر آنچه که نیاز
                            دارید و به ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد.
                        </p>
                    </div>
                    <div class="col-2">
                        <div class="namad-logo">
                            <div class="namad-logo-wrapper">
                                <ul class="namad-logo-slider  owl-carousel">
                                    <li>
                                        <a href="">
                                            <img src="Images/Footer/logos/enamd.png" alt="enamd">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="Images/Footer/logos/samandehi.png" alt="samandehi">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="col-12 mt-3">
                    <span class="text-center d-block color-text">
                        تمامی حقوق متعلق به سایت ماست مال خودمونه فهمیدی !!!!!
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>