<header class="site-header" id="site-header">
    <div class="row">
        <div class="col-2">
            <div class="site-logo">
                <img src="/Images/Site-logo/logo.png" alt="Site Logo" name="Logo" title="Logo">
            </div>
        </div>
        <div class="col-7 col-xl-9 col-lg-12">
            <form class="form-search" action="#" method="get">
                <input type="search" name="search-input"
                       placeholder="نام کالا ، برند یا دسته مورد نظر خود را جستجو کنید">
                <div class="form-actions">
                    <button title="جستجو" type="submit" class="btn-search bg-color-primary">
                        <i class="site-icon-search-2"></i>
                    </button>
                    <div class="search-filter">
                        <div class="filter-ui">
                            <div class="custom-select-ui">
                                <select name="filter" title="filter" class="nice-select">
                                    <option value="">همه دسته ها</option>
                                    <option value="">کالای دیجیتال</option>
                                    <option value="">آرایشی بهداشتی</option>
                                    <option value="">ابزار اداری</option>
                                    <option value="">مد و پوشاک</option>
                                    <option value="">خانه و آشپزخانه</option>
                                    <option value="">لوازم تحریر و هنر</option>
                                    <option value="">کودک و نوزاد</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="header-account">
        <div class="d-flex align-items-center justify-content-end" id="accont-info">
            <span class="color-text">حساب کاربری</span>
            <div class="account-img mr-3">
                <img class="rounded-corners" src="/Images/Account/Avatar.jpg" alt="Account Image" width="40">
            </div>
        </div>
        <ul id="account-options">
            <li class="option"><a href="">پنل کاربری</a></li>
            <li class="option"><a href="">سفارشات</a></li>
            <li class="option"><a href="">تنظیمات</a></li>
            <li class="option"><a href="">خروج</a></li>
        </ul>
    </div>
</header>