<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <partial name="_HeadLinks" />
    <title>فروشگاه ما - @ViewData["Title"]</title>
</head>

<body>
    <partial name="_Header" />
    <partial name="_SiteNavigation" />

    <main>
        @RenderBody()
    </main>

    <partial name="_Footer" />

    <script src="/Vendors/Jquery/jquery.min.js"></script>
    <script src="/Vendors/Jquery/jquery.nice-select.min.js"></script>
    <script src="/Vendors/Owl-Carousel/owl.carousel.js"></script>
    <script src="/Js/Script.js"></script>
    @await RenderSectionAsync("Scripts" , required:false)
</body>

</html>