@{
    Layout = "_Layout";
    ViewData["Title"] = "خطای 404";
}
<div id="Errors" class="bg-color-White p-3 mt-3 mb-3">
    <div class="error"> 
        <header class="color-black">
              <h2 class="font-size-xxxl">صفحه مورد نظر یافت نشد</h2>
        </header>
        <div class="img">
              <img src="../../Images/Errors/404.png" alt="404">
        </div>
        <div class="actions">
              <a href="/" class="btn btn-lightblue py-1 color-light">بازگشت به صفحه اصلی سایت</a>
        </div>
    </div>
</div>