@{
    Layout = "_Layout";
    ViewData["Title"] = "خطای سرور";
}
<div id="Errors" class="bg-color-White p-3 mt-3 mb-3">
    <div class="error">
        <header class="color-black">
            <h2 class="font-size-xxxl">خظا 😖 متاسفانه مشکلی در سرور پیش آمده است لطفا دوباره امتحان کنید.</h2>
        </header>
        <div class="img">
            <img src="/images/errors/server.png"  alt="500"/>
        </div>
        <div class="actions">
            <a href="/" class="btn btn-lightblue py-1 color-light">بازگشت به صفحه اصلی سایت</a>
        </div>
    </div>
</div>