@{
    ViewData["Title"] = "صفحه اصلی";
}

<div id="home-page-content">
    <div class="container">
        <div class="row">
            <div class="col-3 col-md-12 py-3">
                <div class="adplace-container">
                    <div class="adplace">
                        <a href="#">
                            <img src="Images/Site-banner/a-3.jpg" alt="محل تبلیغات">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-9 col-md-12 py-3">
                <div class="product-slider-container">
                    <div class="product-slider product-slider-carousel owl-carousel">
                        <img src="/Images/slider/sm-1.jpg" alt="slider">
                        <img src="/Images/slider/sm-2.jpg" alt="slider">
                        <img src="/Images/slider/sm-3.jpg" alt="slider">
                        <img src="/Images/slider/sm-4.jpg" alt="slider">
                        <img src="/Images/slider/sm-5.jpg" alt="slider">
                    </div>
                </div>
            </div>
            <div class="adplace col-12 py-3">
                <div class="row">
                    <div class="col-3 col-lg-6 col-sm-12">
                        <div class="adplace-wrapper">
                            <a href="" class="adplace-link">
                                <img src="Images/Site-banner/a-4.jpg" alt="ad">
                            </a>
                        </div>
                    </div>
                    <div class="col-3 col-lg-6 col-sm-12">
                        <div class="adplace-wrapper">
                            <a href="" class="adplace-link">
                                <img src="/Images/Site-banner/a-5.jpg" alt="ad">
                            </a>
                        </div>
                    </div>
                    <div class="col-3 col-lg-6 col-sm-12">
                        <div class="adplace-wrapper">
                            <a href="" class="adplace-link">
                                <img src="/Images/Site-banner/a-6.jpg" alt="ad">
                            </a>
                        </div>
                    </div>
                    <div class="col-3 col-lg-6 col-sm-12">
                        <div class="adplace-wrapper">
                            <a href="" class="adplace-link">
                                <img src="/Images/Site-banner/a-7.jpg" alt="ad">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-slider w-100">
                <header class="product-slider-title-header">
                    <h2>موبایل</h2>
                </header>
                <ul class="row product-items slider-products owl-carousel">
                    <li class="product-item-wrapper">
                        <a href="" class="product-item">
                            <div class="item-img">
                                <img src="/Images/ProductsImage/Phone/honer.jpg" alt="">
                            </div>
                            <div class="item-title">
                                <strong>
                                    لپ تاپ 13 اینچی ایسوس مدل ZenBook S13 UX392FN - A
                                </strong>
                            </div>
                            <div class="item-price">
                                <div class="line-sticktrough color-text">3,200،000 تومان</div>
                                <div class="color-primary font-size-lg">2,800،000 تومان</div>
                            </div>
                            <div class="actions">
                                <div class="show-icon">
                                    <i class="site-icon-eye"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="product-item-wrapper">
                        <a href="" class="product-item">
                            <div class="item-img">
                                <img src="/Images/ProductsImage/Phone/huawei-p-smart.jpg" alt="">
                            </div>
                            <div class="item-title">
                                <strong>
                                    کامپیوتر همه کاره 27 اینچی اپل مدل iMac CTO - A 2019 با صفحه نمایش رتینا
                                    5K
                                </strong>
                            </div>
                            <div class="item-price">
                                <div class="line-sticktrough color-text">3,200،000 تومان</div>
                                <div class="color-primary font-size-lg">2,800،000 تومان</div>
                            </div>
                            <div class="actions">
                                <div class="show-icon">
                                    <i class="site-icon-eye"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="product-item-wrapper">
                        <a href="" class="product-item">
                            <div class="item-img">
                                <img src="/Images/ProductsImage/Phone/huawei.jpg" alt="">
                            </div>
                            <div class="item-title">
                                <strong>
                                    هواوای میت بوک X پرو 13.9 اینچ
                                </strong>
                            </div>
                            <div class="item-price">
                                <div class="line-sticktrough color-text">3,200،000 تومان</div>
                                <div class="color-primary font-size-lg">2,800،000 تومان</div>
                            </div>
                            <div class="actions">
                                <div class="show-icon">
                                    <i class="site-icon-eye"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="product-item-wrapper">
                        <a href="" class="product-item">
                            <div class="item-img">
                                <img src="/Images/ProductsImage/Phone/iphone-xs-max-space.jpg" alt="">
                            </div>
                            <div class="item-title">
                                <strong>
                                    لپ تاپ چووی الترابوک 14 اینچ پرو
                                </strong>
                            </div>
                            <div class="item-price">
                                <div class="line-sticktrough color-text">3,200،000 تومان</div>
                                <div class="color-primary font-size-lg">2,800،000 تومان</div>
                            </div>
                            <div class="actions">
                                <div class="show-icon">
                                    <i class="site-icon-eye"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="product-item-wrapper">
                        <a href="" class="product-item">
                            <div class="item-img">
                                <img src="/Images/ProductsImage/Phone/Samsung-S10Plus.jpg" alt="">
                            </div>
                            <div class="item-title">
                                <strong>
                                    لپ تاپ چووی الترابوک 14 اینچ پرو
                                </strong>
                            </div>
                            <div class="item-price">
                                <div class="line-sticktrough color-text">3,200،000 تومان</div>
                                <div class="color-primary font-size-lg">2,800،000 تومان</div>
                            </div>
                            <div class="actions">
                                <div class="show-icon">
                                    <i class="site-icon-eye"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="adplace col-12 py-3">
                <div class="row">
                    <div class="col-6 col-md-12">
                        <div class="adplace-wrapper">
                            <a href="" class="adplace-link">
                                <img src="/Images/Site-banner/a-9.jpg" alt="ad">
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-md-12">
                        <div class="adplace-wrapper">
                            <a href="" class="adplace-link">
                                <img src="/Images/Site-banner/a-11.jpg" alt="ad">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-slider w-100">
                <header class="product-slider-title-header">
                    <h2>کامپیوتر و لپ تاب</h2>
                </header>
                <ul class="row product-items slider-products owl-carousel">
                    <li class="product-item-wrapper">
                        <a href="" class="product-item">
                            <div class="item-img">
                                <img src="/Images/ProductsImage/Pc-Laptops/zenbook.jpg" alt="">
                            </div>
                            <div class="item-title">
                                <strong>
                                    لپ تاپ 13 اینچی ایسوس مدل ZenBook S13 UX392FN - A
                                </strong>
                            </div>
                            <div class="item-price">
                                <div class="line-sticktrough color-text">3,200،000 تومان</div>
                                <div class="color-primary font-size-lg">2,800،000 تومان</div>
                            </div>
                            <div class="actions">
                                <div class="show-icon">
                                    <i class="site-icon-eye"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="product-item-wrapper">
                        <a href="" class="product-item">
                            <div class="item-img">
                                <img src="/Images/ProductsImage/Pc-Laptops/computer-appel.jpg" alt="">
                            </div>
                            <div class="item-title">
                                <strong>
                                    کامپیوتر همه کاره 27 اینچی اپل مدل iMac CTO - A 2019 با صفحه نمایش رتینا
                                    5K
                                </strong>
                            </div>
                            <div class="item-price">
                                <div class="line-sticktrough color-text">3,200،000 تومان</div>
                                <div class="color-primary font-size-lg">2,800،000 تومان</div>
                            </div>
                            <div class="actions">
                                <div class="show-icon">
                                    <i class="site-icon-eye"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="product-item-wrapper">
                        <a href="" class="product-item">
                            <div class="item-img">
                                <img src="/Images/ProductsImage/Pc-Laptops/mitbook.jpg" alt="">
                            </div>
                            <div class="item-title">
                                <strong>
                                    هواوای میت بوک X پرو 13.9 اینچ
                                </strong>
                            </div>
                            <div class="item-price">
                                <div class="line-sticktrough color-text">3,200،000 تومان</div>
                                <div class="color-primary font-size-lg">2,800،000 تومان</div>
                            </div>
                            <div class="actions">
                                <div class="show-icon">
                                    <i class="site-icon-eye"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="product-item-wrapper">
                        <a href="" class="product-item">
                            <div class="item-img">
                                <img src="/Images/ProductsImage/Pc-Laptops/SL1200_-300x300.jpg" alt="">
                            </div>
                            <div class="item-title">
                                <strong>
                                    لپ تاپ چووی الترابوک 14 اینچ پرو
                                </strong>
                            </div>
                            <div class="item-price">
                                <div class="line-sticktrough color-text">3,200،000 تومان</div>
                                <div class="color-primary font-size-lg">2,800،000 تومان</div>
                            </div>
                            <div class="actions">
                                <div class="show-icon">
                                    <i class="site-icon-eye"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="product-item-wrapper">
                        <a href="" class="product-item">
                            <div class="item-img">
                                <img src="/Images/ProductsImage/Pc-Laptops/SL1200_-300x300.jpg" alt="">
                            </div>
                            <div class="item-title">
                                <strong>
                                    لپ تاپ چووی الترابوک 14 اینچ پرو
                                </strong>
                            </div>
                            <div class="item-price">
                                <div class="line-sticktrough color-text">3,200،000 تومان</div>
                                <div class="color-primary font-size-lg">2,800،000 تومان</div>
                            </div>
                            <div class="actions">
                                <div class="show-icon">
                                    <i class="site-icon-eye"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="product-item-wrapper">
                        <a href="" class="product-item">
                            <div class="item-img">
                                <img src="/Images/ProductsImage/Pc-Laptops/SL1200_-300x300.jpg" alt="">
                            </div>
                            <div class="item-title">
                                <strong>
                                    لپ تاپ چووی الترابوک 14 اینچ پرو
                                </strong>
                            </div>
                            <div class="item-price">
                                <div class="line-sticktrough color-text">3,200،000 تومان</div>
                                <div class="color-primary font-size-lg">2,800،000 تومان</div>
                            </div>
                            <div class="actions">
                                <div class="show-icon">
                                    <i class="site-icon-eye"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
